@tailwind base;
@tailwind components;
@tailwind utilities;

/* .box{
    color: blanchedalmond ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    border-color: azure;
    padding: 15px ;

} */